<%= render "shared/header" %>

<div class="mypage">
  <p><%= @nickname %>さんの漫画一覧</p>

  <% @comics.each do |comic| %>
      <li class='list'>
        <div class='comic-img-content'>
          <%= image_tag comic.image, class: "comic-img" %>
          <div class='comic-info'>
            <h3 class='comic-title'>
              <%= comic.title %>
            </h3>
          </div>
      </li>
      <% end %>

  <p><%= @nickname %>さんがいいねした漫画一覧</p>

      <% @users.each do |user| %>
        <% user.liked_comics.each do |comic| %>
          <% if current_user.already_liked?(comic) %>
            <%= image_tag comic.image, class: "comic-img" %>
            <h3 class='comic-title'>
              <%= comic.title %>
            </h3>
          <% else %>
            <%=link_to 'あなたはまだいいねしてません！探しにいきましょう！', root_path, class:"back-btn" %>
          <% end %>
        <% end %>
      <% end %>

  <%=link_to 'Topページにもどる', root_path, class:"back-btn" %>