<%= render "shared/header" %>

<div class="upload-my-manga">
  <p class='my-manga-name'>
    <%= @nickname %>さんの投稿した漫画一覧
  </p>
  <ul class='comic-lists' >

    <% @comics.each do |comic| %>
      <li class='list'>
        <div class='comic-img-content'>
          <%= image_tag comic.image.variant(resize: '325x325'), class: "comic-img" %>
          <div class='comic-info'>
            <h3 class='comic-title'>
              <%= comic.title %>
            </h3>
          </div>
      </li>
    <% end %>
  </ul>
</div>

<div class="likes-my-manga" >
  <p class='my-manga-name'>
    <%= @nickname %>さんがいいねした漫画一覧
  </p>
  <ul class='comic-lists' >

      <% @users.each do |user| %>
        <% user.liked_comics.each do |comic| %>
            <li class='list'>
              <div class='comic-img-content'>
                <%= image_tag comic.image.variant(resize: '325x325'), class: "comic-img" %>
                <h3 class='comic-title'>
                  <%= comic.title %>
                </h3>
              </div>
            </li>
        <% end %>
      <% end %>

  </ul>
</div>
