<%= render "shared/header" %> 

<div class="search-contents">
  <ul class='comic-lists' >

  <% @comics.each do |comic| %>
    <li class='list'>
        <%= link_to comic_path (comic.id) do %> 
          <div class='comic-img-content'>
            <%= image_tag comic.image.variant(resize: '325x325'), class: "comic-img" %> 
            <div class='comic-info'>
              <h3 class='comic-title'>
                <%= comic.title %> 
              </h3>
              <div class="like-count">
                 <span>いいね数:</span><%= comic.liked_users.count %> 
              </div>
          </div>
        <% end %> 
      </li>
  <% end %>
  <% if @comics.length == 0 %>
      <li class='list'>
        <p>
          まだ一つも投稿されていません。
        </p>
        <div class='item-info'>
      </li>
  <% end %>
  </ul>
</div>